<ul class="nav navbar-nav">
  <% if can? :navigate, :ad_users %>
    <li class="<%= active_class('ad_users') %>">
      <%=link_to t('controller.ad_users'), main_app.ad_users_path %></li>
    </li>
  <% end %>
</ul>
